<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="home.css" />
  <style>

  </style>
  <body>

    <h1 color="blue">Home</h1>

    <p class="zz">Succesfully LOGED IN! WELCOME TO HOME</p>
  </body>
</html>